/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button {
  border: none;
  font: inherit;
}

/* KEYFRAMES */

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
/* BASE STYLES */

html {
  overflow-x: hidden;
  --accent-color: #11a2f3;
  --accent-color-dark: #0d8fda;
}

body {
  font-family: "Poppins", sans-serif, Helvetica, Arial;
  color: #292c33;
  background-color: #eeeff3;

  /* remove horizantal scroll bar ⬇️ */
  overflow-x: hidden;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}

/*HEADER*/

.header {
  z-index: 1; /* Ensures header is above background */

  /* to put all the items in the nav bar along with the icon  ⬇️ */

  display: flex;

  /* to make sure the links are as far as possible from the icon to have that bis space in between ⬇️  */
  justify-content: space-between;

  /* to restrict width of the header ⬇️ */
  max-width: 1200px;

  /* for responsiveness to centre the items in the header vertically ⬇️ */
  margin: 0 auto;

  /* have padding on all side ⬇️ */
  padding: 25px;

  /* animate ⬇️ first we created @keyframe structure at the begining of our css file then we wrote the code below */
  animation: fade-in 0.6s;
}

.logo {
  color: rgba(255, 255, 255, 0.7);
  font-size: 30px;
}

.nav {
  margin-bottom: 30px;
}

.links {
  /* put the items in the navbar horizontally ⬇️*/
  display: flex;

  /* put space between the items in the nav bar ⬇️ */
  column-gap: 45px;
}

.link {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
  /* change all the letters to capital ⬇️ */
  text-transform: uppercase;

  /* put space between each letter of a word */
  letter-spacing: 1px;

  /* when hover it has a smooth⬇️ color chande ⬇️ */
  transition: all 0.3s;
}

.link:hover {
  color: rgba(255, 255, 255, 1);
}
.link-item {
}
.link--btn {
  color: #ffffff;
  background-color: var(--accent-color);
  padding: 10px 18px;
  border-radius: 3px;
  transition: all 0.3s;
}

.link--btn:hover {
  color: #ffffff;
  background-color: var(--accent-color-dark);
}

/* MAIN */

.main {
  max-width: 1150px;

  background-color: #ffffff;

  /* center the box  */
  margin: 0 auto;
  border-radius: 5px;
  margin-bottom: 35px;
  box-shadow: 0 4px 44px rgb(0, 0, 0, 0.7);
  animation: fade-in 0.4s 0.1s backwards;
  overflow: hidden;
}

/*INTRO SECTIONS */

.intro {
  display: flex;
}

.search {
  /* take up all the available space */
  flex: 1;
  background-color: #f3f5fe;
  margin: 15px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.first-heading {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;
  line-height: 1.1;
  max-width: 383 px;
}

.emphasis {
  font-style: italic;
  font-weight: 700;
  text-decoration: underline;
}
.form {
  margin-top: 50px;
  width: 383px;
  position: relative;
}

.input {
  height: 61px;
  width: 100%;
  padding-left: 53px;
  font-size: 17px;
  border-radius: 2px;
  margin-bottom: 12px;
}

.input-icon {
  height: 61px;
  width: 100%;

  font-size: 17px;
  color: #adb4c2;
  position: absolute;
}

.input-icon:nth-of-type(1) {
  top: 22px;
  left: 22px;
}

.input-icon:nth-of-type(2) {
  top: 95px;
  left: 22px;
}

.btn {
  height: 61px;
  width: 100%;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  color: #ffffff;
  border-radius: 2px;
  background-color: var(--accent-color);
  height: 61px;
  transition: all 0.4s;
  margin: 15px 0px 0px 0px;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--accent-color-dark);
}

.photos {
  display: flex;
}

.photo-1 {
  display: block;
}

.photo-2 {
  display: block;
}

/* credentials */

.credentials {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 35px 0px;
  border-bottom: 1.5px solid #f3f2f8;
}

.seen-text {
  font-size: 20px;
  font-weight: 500;
  color: #ccd0d9;
  text-transform: uppercase;
  letter-spacing: 1.1px;
}

.credential {
}

/* HOW SECTION */

.how {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 65px 0 85px;
}

.second-heading {
  font-size: 32px;
  color: #292c33;
  text-transform: uppercase;
  font-weight: 500;
}
.steps {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 80px 0;
}
.step {
  max-width: 215px;
  text-align: center;
}
.step-icon {
  height: 65px;
  width: 65px;
  font-size: 35px;

  color: #0b0a0a;
}

/* .step:nth-child(1) .step-icon {
  background-color: #11a2f3;
} */

.third-heading {
  font-size: 25px;
  color: #3d4048;
  font-size: 500;
  margin-bottom: 10px;
}
.text {
  color: #74777d;
  font-size: 18px;
}

.more {
  text-decoration: underline;
  color: var(--accent-color);
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 5px;
  border-bottom: 1px solid var (--accent-color);
  transition: all 0.2s;
}

.more:hover {
  color: var (--accent-color-dark);
}
.more-icon {
  font-size: 14px;
  transition: all 0.2s;
}

.more:hover .more-icon {
  transform: translateX(3px);
}

.footer {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  color: #a1a4b0;
  padding: 0 25;
  padding-bottom: 50px;
}

.copyright {
}

.legal-list {
  display: flex;
  column-gap: 35px;
}

.legal-item {
}

.legal-link {
  font-size: 14px;
  text-transform: capitalize;
}

/* MEDIA QUERIES */
@media (max-width: 1147px) {
  .main {
    margin-left: 25px;
    margin-right: 25px;
  }
  .photo-1 {
    display: none;
  }
}

@media (max-width: 820px) {
  .search {
    padding: 40px 0 50px;
  }
  .photo-2 {
    display: none;
  }
}

@media (max-width: 672px) {
  .credentials {
    justify-content: space-evenly;
  }
  .credential:nth-last-of-type(1) {
    display: none;
  }
  .how {
    padding: 50px 0 65px;
  }
}
